.project {
  flex: 4;
  padding: 20px;
}

.projectTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.projectContainer {
  display: flex;
  margin-top: 10px;
}

.projectShow {
  flex: 4;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.projectUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }

.projectEditDetails {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}
.projectAddCluster{
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }

.projectShowTop {
  display: flex;
  align-items: center;
}



.projectShowTopTitle {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
}

.projectShowprojectname {
  font-weight: 600;
}

.projectShowprojectTitle {
  font-weight: 300;
}

.projectShowBottom {
  margin-top: 20px;
}

.projectShowTitle {
  font-size: 20px;
  font-weight: 600;
  color: rgb(175, 170, 170);
  margin-bottom: 20px;
}

.projectShowInfo {
  display: flex;
  align-items: center;
  margin: 3px 0px;
  color: #444;
}

.projectShowIcon {
  font-size: 16px !important;
}

.projectShowInfoTitle {
  margin-left: 10px;
}

.projectUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.projectUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.projectUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.projectUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.projectUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.projectUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectUpdateUpload {
  display: flex;
  align-items: center;
}

.projectUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.projectUpdateIcon {
  cursor: pointer;
}

.projectUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}
