.projectList {
  flex: 4;
  padding-left: -20px;
}
.productListItem {
  display: flex;
  align-items: center;
}

.projectTitle {
  padding: 2% 1%;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-position: normal;
  text-transform: none;
  color: #a54e07;
}

.projectListBody {
  padding: 2% 1%;
  font-size: 15px;
  text-decoration: none;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-position: normal;
  text-transform: none;
}

.Vip {
  font-size: 17px;
  font-weight: 600;
  color: #a54e07;
}

.projectListHeader {
  background-color: #f9f1e0;
  font-size: 20px;
  font-weight: bold;
  color: #eba820;
}

.projectListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgba(250, 227, 133, 1);
  border-radius: 10px;
  color: #a54e07;
  cursor: pointer;
}

.projectListDelete {
  font-size: 500px;
  color: rgba(139, 66, 8, 0.7);
  cursor: pointer;
}

.dataGrid {
  height: fit-content;
}
