.coming{
        background-image: url(https://c.tenor.com/9iSw3Z3T9loAAAAd/tulla-curtain-tulla-peakaboo.gif);
       background-repeat: no-repeat; 
       object-fit: cover;
        padding: 2% 1%;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-position: normal;
        text-transform: none;
        color: #a54e07;
}

