/* Sidebar */
/* .sidebar {
  width: 6cm;
  height: calc(100vh - 50px);
  background-color: #f9f1e0;
  position: sticky;
  top: 50px; */

  .sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #f9f1e0;
    position: sticky;
    top: 50px;
  }

.sidebar {
  padding: 2% 1%;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-position: normal;
  text-transform: none;
  color: #a54e07;
}

.sidebarMenu {
  margin-bottom: 10px;
  line-height: 4px;
}

.sidebarTitle {
  font-size: 20px;
  color: #eba820;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  
}

.sidebarListItem.active,
.sidebarListItem:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: linear-gradient(
    to left,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b
  );
  opacity: 0.9;
  color:#0f0f0e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);

}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
  padding-left: -6px;
}
/*  */



