* {
  margin: 0 !important;
  padding: 0;
  --main-radius: 5px;
  --main-padding: 5px;
}

.container{
  display: flex;
  margin-top: 10px;
}


.link{
  text-decoration: none;
  color: inherit;
}

#main{
  padding-left: 2%;
  padding-right: -20%;
  padding-top: 2%;
  flex: 4;
  width: auto;
}